<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/resume.css" />
  </head>
  <body class="body" id="body">
    <div class="container">
      <div class="header card">
        <div class="header-image">
          <img
            src="/assets/img/test.jpg"
            alt="hero"
            class="user-image" />
        </div>
        <div class="user-info">
          <h2 class="user-name">Oladunjoye Olasubomi</h2>
          <h4 class="user-title">Web Developer</h4>
        </div>
      </div>
      <div class="main">
        <div class="left">
          <div class="contact card">
            <h5 class="contact-header">
              contacts
            </h5>
            <hr>
            <div class="contact-info">
              <div class="number social-info">
                <div class="social-info-image">
                  <img src="/assets/img/phone.svg" alt="phone">
                </div>
                <div class="social-info-link">
                  <a href="tel:+" class="info-link">+2348101506405</a>
                </div>
                
              </div>
              <div class="email social-info">
                <div class="social-info-image">
                  <img src="/assets/img/mail.svg" alt="email">
                </div>
                <div class="social-info-link">
                  <a href="mailto:olasubomi24200201@gmail.com" class="info-link">olasubomi24200201@gmail.com</a>
                 </div>
              </div>
              <div class="linkedln social-info"></div>
              <div class="github social-info"></div>
              <div class="twitter social-info"></div>
            </div>
          </div>
        </div>
        <div class="right"></div>
      </div>
    </div>
  </body>
</html>
